
header {
  height: $bannerheight;
  max-height: 1000px;;
  nav {
    position: fixed;
    top: 0;
    right: 1rem;
    width: 70%;
    text-align: right;
    a {
      display: inline-block;
      padding: 1rem 1rem 0.25rem;
      font-variation-settings: 'wght' 700;
      text-decoration: none;
    }
  }
  .ftl-stripe {
    position: fixed;
    z-index: -12;
    left: -30rem;
    top: -40rem;
    border-right: 0.5rem solid $white-color;
    background-color: $blue-color;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    width: 30rem;
    height: 60rem;
    transform: rotate(35deg);
    transform-origin: bottom right;
    transition: transform 0.2s ease-in, top 0.2s ease-in;
  }
  .ftl-symbol-link {
    position: fixed;
    z-index: 0;
    width: 7rem;
    .ftl-symbol {
      width: 100%;
    }
  }
  .menu-icon {
    position: fixed;
    display: none;
    width: 5rem;
    padding: 1rem;
    z-index: 6;
  }
  .ftl-logo {
    position: fixed;
    z-index: -11;
    left: 50%;
    top: 40vh;
    transform: translate(-48%, -50%);
    width: 18rem;
  }
  .header-background {
    position: fixed;
    z-index: -13;
    width: 100%;
    height: $bannerheight;
    background-position: center;
    background-size: cover;
  }
  .header-container {
    position: fixed;
    top: $shortbannerheight / 2;
    left: 20%;
    transform: translateY(-50%);
    max-width: 90%;
    h1 {
      padding: 0;
      text-align: left;
      font-size: $responsive-font-big;
    }
    p {
      margin: 0;
      font-variation-settings: 'wght' 700;
      font-size: $responsive-font-tiny;
    }
  }
  @media screen and (max-width: 700px) {
    nav {
      position: fixed;
      text-align: left;
      left: 5rem;
      z-index: 6;
      a {
        color: transparent;
        display: block;
        visibility: hidden;
        padding: 1rem 1rem 0.25rem;
        font-weight: 700;
        text-decoration: none;
        transition: color 0.1s linear 0s;
      }
      &.responsive {
        a {
          visibility: visible;
          color: $white-color;
          transition: color 0.2s linear 0.1s;
        }
      }
    }
    .ftl-stripe {
      top: -53rem;
      z-index: 5;
      transform: rotate(65deg);
      &.responsive {
        top: -41rem;
      }
    }
    .ftl-symbol {
      display: none;
    }
    .menu-icon {
      display: inline-block;
      cursor: pointer;
    }
    .ftl-stripe.responsive {
      transform: rotate(90deg);
    }
    .header-container {
      position: fixed;
      top: $shortbannerheight / 2;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      h1, p {

      }
    }
  }
  &.short-banner {
    height: $shortbannerheight;
    .header-background {
      height: $shortbannerheight;
    }
    .ftl-logo {
      top: 25vh;
    }
  }
}