@import 'constants';
@import 'people';
@import 'header';
@import 'footer';

@import '/bootstrap/bootstrap-grid.scss';


body {
  margin: 0;
  height: 100%;
  background-attachment: fixed;
}
section {
  background-clip: content-box;
}

p, a, ul, li, label, span, input, textarea, button {
  font-family: $font;
  font-variation-settings: 'wght' 400;
  color: $white-color
}

h1, h2, h3, h4 {
  text-align: center;
  font-family: $font;
  font-variation-settings: 'wght' 700;
  color: $white-color
}

a:hover {
  opacity: 0.6;
}

h1 {
  font-size: $responsive-font-medium;
  padding: 5rem 0 0;
  margin: 0;
}

h2 {
  font-size: $responsive-font-small;
  padding: 4rem 0 0;
  margin: 0;
}

main {
  width: 100%;
  border-top: 0.25rem solid $white-color;
  background-color: $blue-color;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.bottommost-section {
  padding-bottom: 6rem;
}

.activities {
  .activity-row {
    img {
      height: 5rem;
    }
    h3 {
      text-align: left;
    }
    &:first-of-type {
      margin-top: 2rem;
    }
    @media screen and (max-width: 575px) {
      margin-top: 2rem;
      h3, p {
        text-align: center;
      }
    }
  }
}

.small-container {
  max-width: 738px;
  img {
    width: 100%;
  }
}

.very-small-container {
  max-width: 512px;
  img {
    width: 100%;
  }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hostiles-outlasted {
  padding-bottom: 4rem;
  border-bottom: 0.25rem solid $white-color;
  .hostile-row {
    margin-top: 2rem;
    p {
      font-size: 1.5rem;
    }
    .highlight {
      font-size: 8rem;
    }
    @media screen and (max-width: 575px) {
      p {
        text-align: center;
      }
    }
  }
}

.space {
  height: 40rem;
  background-image: url('/images/killmails.jpg');
  background-attachment: fixed;
  background-position: center;
}

.join {
  border-top: 0.25rem solid $white-color;
  p {
    text-align: center;
  }
}

.join {
  p {
    margin-bottom: 0;
  }
}

.contact {
  text-align: center;
  .complaint-line {
    font-size: 0.5rem;
    margin: 0;
  }
}

.centered {
  text-align: center;
}

.calculator {
  width: 100%;
  height: 150rem;
}

.alliance-logo {
  display: block;
  margin: 1rem auto 0;
  height: 2rem;
}

.link-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: $blue-color;
  box-shadow: $outer-shadow;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    opacity: 1;
    background: $gradient;
  }
}

.media-row {
  margin-top: 2rem;
  .discord-emojis {
    box-shadow: $outer-shadow;
    border-radius: 0.5rem;
  }
  .poster-link {
    display: block;
    height: 16rem;
    background-size: cover;
    background-position-x: center;
  }
  @media screen and (max-width: 575px) {
    p {
      text-align: center;
    }
    .link-button {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.supreme-commander {
  display: block;
  margin: auto;
  padding-top: 4rem;
  width: 15rem;
}

form {
  label {
    display: block;
    margin-top: 1rem;
    input, textarea {
      display: block;
      width: 100%;
      padding: 1.1rem 1.4rem 1rem 1.5rem;
      margin-top: 1rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      border: none;
      box-shadow: $inner-shadow;
      background-color: $blue-color;
      color: $white-color
    }
    input::placeholder, textarea::placeholder {
      color: $white-color;
      opacity: 0.5;
    }
    textarea {
      height: 12rem;
    }
  }
  .link-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
  }
}