@import '/bootstrap/bootstrap-grid.scss';

$blue-color: #2C7CB1;
$white-color: #FFFFFF;

$bannerheight: 80vh;

$font: "Exo", sans-serif;

$responsive-font-big: calc(24px + 2.2vw);
$responsive-font-medium: calc(24px + 1.8vw);
$responsive-font-small: calc(18px + 1.4vw);

@font-face {
  font-family: "Exo";
  font-display: fallback;
  src: url('/fonts/Exo-VariableFont_wght.ttf') format('truetype');
}

body, section {
  margin: 0;
  background-color: $blue-color;
}

p, a, ul, li, label, span {
  font-family: $font;
  font-weight: 400;
  color: $white-color
}

h1, h2, h3, h4 {
  text-align: center;
  font-family: $font;
  font-weight: 700;
  color: $white-color
}

h1 {
  font-size: $responsive-font-medium;
  padding: 5rem 0 0;
  margin: 0;
}

h2 {
  font-size: $responsive-font-small;
  padding: 4rem 0 0;
  margin: 0;
}

header {
  position: relative;
  .ftl-stripe {
    position: fixed;
    z-index: -12;
    left: -5rem;
    top: -5rem;
    border-right: 0.5rem solid $white-color;
    background-color: $blue-color;
    width: 11rem;
    height: 30rem;
    transform: rotate(30deg);
  }
  .ftl-symbol {
    position: fixed;
    z-index: -11;
    width: 8rem;
  }
  .ftl-logo {
    position: fixed;
    z-index: -11;
    left: 50%;
    top: 40vh;
    transform: translate(-48%, -50%);
    width: 14rem;
  }
  .header-background {
    position: fixed;
    z-index: -13;
    width: 100%;
    height: $bannerheight;
    object-fit: cover;
  }
  @media screen and (max-width: 767px) {
    .ftl-stripe {
      left: -9rem;
    }
    .ftl-symbol {
      width: 5rem;
    }
  }
}

main {
  position: relative;
  top: $bannerheight;
  width: 100%;
  border-top: 0.25rem solid $white-color;
  background-color: $blue-color;
}

.people {
  p {
    text-align: center;
  }
  .member-list {
    margin-top: 2rem;
    .member-card {
      .member-card-inner {
        position: relative;
        height: 16rem;
        border: 0.25rem solid $white-color;
        border-radius: 1rem;      
        margin-top: 4rem;
        img {
          position: absolute;
          bottom: 0;
          left: 0;
          border-radius: 0 0 0 0.75rem;
          height: 17rem;
        }
        .quote-container {
          position: absolute;
          left: 52%;
          top: 1rem;
          max-width: 45%;
          .quote {
            font-size: 0.85rem;
            font-weight: 700;
          }
        }
        .role {
          position: absolute;
          bottom: 1rem;
          right: 1rem;
          font-weight: 700;
        }
      }
      .name {
        margin: 1rem 0 0;
        font-size: 1.5rem;
        text-align: center;      
        font-weight: 700;
      }
      .location {
        margin: 0;
        text-align: center;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .member-container {
      max-width: 320px;
    }
  }
}

.activities {
  .activity-row {
    img {
      height: 5rem;
    }
    h3 {
      text-align: left;
    }
    &:first-of-type {
      margin-top: 2rem;
    }
    @media screen and (max-width: 575px) {
      margin-top: 2rem;
      h3, p {
        text-align: center;
      }
    }
  }
}

.small-container {
  max-width: 738px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hostiles-outlasted {
  padding-bottom: 4rem;
  border-bottom: 0.25rem solid $white-color;
  .hostile-row {
    margin-top: 2rem;
    p {
      font-size: 1.5rem;
    }
    .highlight {
      font-size: 8rem;
    }
    @media screen and (max-width: 575px) {
      p {
        text-align: center;
      }
    }
  }
}

.space {
  height: 40rem;
  background-image: url('/images/killmails.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.join {
  border-top: 0.25rem solid $white-color;
  p {
    text-align: center;
  }
}

.join {
  p {
    margin-bottom: 0;
  }
}

.contact {
  text-align: center;
  .complaint-line {
    font-size: 0.5rem;
    margin: 0;
  }
}

footer {
  position: relative;
  top: 80vh;
  padding: 4rem 0;
  background-color: $blue-color;
  .logo {
    height: 6rem;
  }
  .rifters {
    position: absolute;
    height: 6rem;
    bottom: 0;
    left: calc(70%);
  }
  @media screen and (max-width: 512px) {
    .rifters {
      display: none;
    }
  }
  .footer-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.5rem;
    font-size: 0.5rem;
  }
}