<header class='{{ if eq .Params.bannerHeight "short" }} short-banner {{ end}}'>
  <nav class="main-nav" id="nav-links">
    <a href="/">Home</a>
    <a href="/careers">Careers</a>
    <a href="/diplomacy">Diplomacy</a>
    <a href="/research-tool">Research Tool</a>
    <a href="/founding-of-ftl">Founding of FTL</a>
    <a href="/media">Media</a>
    <a href="https://discord.gg/StJ9tNErUs">Discord</a>
  </nav>
  <div class="ftl-stripe" id="header"></div>
  <a href="/" class="ftl-symbol-link" aria-label="Go to front page">
    <img class="ftl-symbol" src="/images/ftl-symbol.svg" alt="Atom symbol">
  </a>
  <img class="menu-icon" src="/images/menu.svg" alt="Menu" onclick="navBar()">
  {{ if eq .Params.bannerHeight "short" }}
  <div class="header-container">
    <h1>{{ .Params.headerTitle }}</h1>
    <p>{{ .Params.headerSubtitle }}</p>
  </div>
  {{ else }}
  <img class="ftl-logo" src="/images/logo.svg" alt="FTL Industries">
  {{ end}}
  <div class="header-background" style="background-image:url('{{ .Params.banner }}')">
</header>